{% macro social_icon(name, url, icon_name) %}
  <a class="social-link" target="_blank" href="{{ url }}" title="{{ name }}">
    <img class="social-favicon" src="https://www.timesofmadeira.com/media/uDunK3n4Hdj37hADifahuHjFRff4Kqkg0ysVlAI3.png" alt="{{ name }}" width="20" height="20">
  </a>
{% endmacro %}